.filter {
  @media (max-width: $desktop) {
    display: none;
  }
}

.filter__close {
  display: none;
}

.filter--opened .filter__close {
  display: none;

  @media (max-width: $desktop) {
    position: absolute;
    top: -12px;
    right: -16px;
    display: block;
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: $background-black;
    border: none;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      right: 9px;
      width: 14px;
      height: 14px;
      background-image: url("../img/icon-close.svg");
      background-color: $background-black;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $tablet) {
    right: 12px;

    &::before {
      right: 12px;
    }
  }
}

.filter__block {
  margin-bottom: 35px;
}

.filter__wrapper {
  padding: 23px 25px 23px 23px;
  border: 1px solid $light-gray-red;

  @media (max-width: $desktop) {
    border: none;
    border-bottom: 1px solid $light-gray-red;
  }

  @media (max-width: $desktop) {
    padding-top: 39px;
    padding-bottom: 38px;
  }

  @media (max-width: $tablet) {
    margin-left: 9px;
    margin-right: 11px;
    padding: 31px 13px 26px 21px;
  }
}

.filter__wrapper:nth-child(2n) {
  padding-bottom: 22px;

  @media (max-width: $desktop) {
    padding-top: 34px;
    padding-bottom: 35px;
  }

  @media (max-width: $tablet) {
    padding-top: 23px;
    padding-bottom: 24px;
  }
}

.filter__wrapper:nth-child(3n) {
  padding-bottom: 20px;

  @media (max-width: $desktop) {
    padding-bottom: 32px;
    padding-top: 35px;
  }

  @media (max-width: $tablet) {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.filter__wrapper:nth-child(4n) {
  padding-bottom: 11px;

  @media (max-width: $desktop) {
    padding-bottom: 31px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 19px;
  }
}

.filter__wrapper summary {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    top: 3px;
    right: -6px;
    background-image: url("../img/icon-arrow-down.svg");
    background-size: 19px 17px;
    background-repeat: no-repeat;

    transition: transform 0.3s;
  }

  @media (max-width: $desktop) {
    font-size: 18px;

    &::before {
      width: 28px;
      height: 14px;
      top: 3px;
      right: 8px;
      background-size: 28px 14px;
    }
  }

  @media (max-width: $tablet) {
    &::before {
      top: 6px;
      right: 7px;
      width: 21px;
      height: 13px;
      background-size: 21px 13px;
    }
  }
}

summary::-webkit-details-marker {
  display: none;
}

.filter__wrapper[open] > summary {
  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    top: 3px;
    right: -6px;
    background-size: 19px 17px;
    transform: rotate(180deg);
  }

  @media (max-width: $desktop) {
    &::before {
      top: 3px;
      right: 8px;
      width: 28px;
      height: 14px;
      background-size: 28px 14px;
    }
  }

  @media (max-width: $tablet) {
    &::before {
      top: 6px;
      right: 7px;
      width: 21px;
      height: 13px;
      background-size: 21px 13px;
    }
  }
}

.filter__list {
  @include list-style ;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 13px;
  // margin: 0;
  padding-top: 23px;
  padding-left: 13px;
  // list-style-type: none;

  @media (max-width: $desktop) {
    padding-left: 8px;
    row-gap: 19px;
  }

  @media (max-width: $tablet) {
    row-gap: 18px;
  }
}

.filter__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  @media (max-width: $desktop) {
    font-size: 16px;
  }
}

.filter-checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-checkbox-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.filter-checkbox-input + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $light-gray-red;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (max-width: $tablet) {
    width: 18px;
    height: 18px;
  }
}

.filter-checkbox-input:not(:disabled):not(:checked) + label:hover::before {
  border-color: $light-gray-red;
}

.filter-checkbox-input:not(:disabled):active + label::before {
  background-color: $light-gray-red;
}

.filter-checkbox-input:focus:not(:checked) + label::before {
  border-color: $light-gray-red;
}

.filter-checkbox-input:checked + label::before {
  border-color: $light-gray-red;
  background-color: $light-gray-red;
}

.filter-checkbox-input:disabled + label::before {
  background-color: $light-gray-red;
}

.range-filter {
  width: 200px;

  @media (max-width: $desktop) {
    width: 100%;
  }

  @media (max-width: $tablet) {
    width: 90%;
  }
}

.range-controls {
  position: relative;
  margin-bottom: 7px;
  padding-top: 27px;

  @media (max-width: $desktop) {
    padding-top: 37px;
  }

  @media (max-width: $tablet) {
    padding-top: 33px;
    margin-bottom: 9px;
  }
}

.range-controls .scale {
  height: 2px;
  background-color: $pearl-white;
}

.range-controls .bar {
  width: 101px;
  margin-left: 54px;
  height: 2px;
  background-color: $light-gray-red;

  @media (max-width: $desktop) {
    width: 188px;
  }

  @media (max-width: $tablet) {
    width: 120px;
    margin-left: 48px;
  }
}

.bar {
  width: 30%;
  background-color: $pearl-white;
}

.range-controls .toggle {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: $light-gray-red;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;

  @media (max-width: $desktop) {
    top: 30px;
  }

  @media (max-width: $tablet) {
    top: 27px;
  }
}

.range-controls .toggle-min {
  left: 46px;

  @media (max-width: $desktop) {
    left: 53px;
    width: 17px;
    height: 17px;
  }

  @media (max-width: $tablet) {
    left: 31px;
  }
}

.range-controls .toggle-max {
  left: 152px;

  @media (max-width: $desktop) {
    left: 228px;
  }

  @media (max-width: $tablet) {
    left: 168px;
  }
}

.price-controls {
  display: flex;
  justify-content: space-between;
  width: 157px;
  margin: 0 auto;
  margin-left: 28px;
  font-weight: 500;

  @media (max-width: $desktop) {
    width: 237px;
  }

  @media (max-width: $tablet) {
    width: 187px;
    margin-left: 14px;
  }
}

.price-controls input {
  width: 50px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  border: none;

  @media (max-width: $desktop) {
    font-size: 16px;
  }
}

.hyphen {
  margin: auto;
}

.filter--opened .filter {
  @media (max-width: $desktop) {
    display: block;
    position: absolute;
    min-width: 422px;
    background-color: $basic-background;
    box-shadow: 0 5px 32px $light-gray;
  }

  @media (max-width: $tablet) {
    position: static;
    min-width: 270px;
    margin-bottom: 47px;
  }
}

.filter--opened .filter__block {
  @media (max-width: $desktop) {
    margin-bottom: 41px;
    border: none;
    border-bottom: 1px solid $light-gray-red;
  }

  @media (max-width: $tablet) {
    margin-bottom: 28px;
    border: none;
  }
}

.filter__close .filter {
  display: none;
}
