.filter {
  @media (max-width: $desktop) {
    display: none;
  }
}

.filter__close {
  display: none;
}

.filter--opened .filter__close {
  display: none;

  @media (max-width: $desktop) {
    position: absolute;
    top: -12px;
    right: -16px;
    display: block;
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: $background-black;
    border: none;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      right: 9px;
      width: 14px;
      height: 14px;
      background-image: url("../img/icon-close.svg");
      background-color: $background-black;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $tablet) {
    right: 12px;

    &::before {
      right: 12px;
    }
  }
}

.filter__block {
  margin-bottom: 35px;
}

.filter__wrapper {
  padding: 23px 25px 23px 23px;
  border: 1px solid $light-gray-red;

  @media (max-width: $desktop) {
    border: none;
    border-bottom: 1px solid $light-gray-red;
  }

  @media (max-width: $desktop) {
    padding-top: 39px;
    padding-bottom: 38px;
  }

  @media (max-width: $tablet) {
    margin-left: 9px;
    margin-right: 11px;
    padding: 31px 13px 26px 21px;
  }
}

.filter__wrapper:nth-child(2n) {
  padding-bottom: 22px;

  @media (max-width: $desktop) {
    padding-top: 34px;
    padding-bottom: 35px;
  }

  @media (max-width: $tablet) {
    padding-top: 23px;
    padding-bottom: 24px;
  }
}

.filter__wrapper:nth-child(3n) {
  padding-bottom: 20px;

  @media (max-width: $desktop) {
    padding-bottom: 32px;
    padding-top: 35px;
  }

  @media (max-width: $tablet) {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.filter__wrapper:nth-child(4n) {
  padding-bottom: 11px;

  @media (max-width: $desktop) {
    padding-bottom: 26px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 19px;
  }
}

.filter__wrapper summary {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    top: 3px;
    right: -6px;
    background-image: url("../img/icon-arrow-down.svg");
    background-size: 19px 17px;
    background-repeat: no-repeat;

    transition: transform 0.3s;
  }

  @media (max-width: $desktop) {
    font-size: 18px;

    &::before {
      width: 28px;
      height: 14px;
      top: 3px;
      right: 8px;
      background-size: 28px 14px;
    }
  }

  @media (max-width: $tablet) {
    &::before {
      top: 6px;
      right: 7px;
      width: 21px;
      height: 13px;
      background-size: 21px 13px;
    }
  }
}

summary::-webkit-details-marker {
  display: none;
}

.filter__wrapper[open] > summary {
  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    top: 3px;
    right: -6px;
    background-size: 19px 17px;
    transform: rotate(180deg);
  }

  @media (max-width: $desktop) {
    &::before {
      top: 3px;
      right: 8px;
      width: 28px;
      height: 14px;
      background-size: 28px 14px;
    }
  }

  @media (max-width: $tablet) {
    &::before {
      top: 6px;
      right: 7px;
      width: 21px;
      height: 13px;
      background-size: 21px 13px;
    }
  }
}

.filter__list {
  @include list-style ;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 13px;
  padding-top: 23px;
  padding-left: 13px;

  @media (max-width: $desktop) {
    padding-left: 8px;
    row-gap: 17px;
  }

  @media (max-width: $tablet) {
    row-gap: 18px;
  }
}

.filter__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  @media (max-width: $desktop) {
    font-size: 16px;
  }
}

.filter__item input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter__item input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.filter__item input + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $light-gray-red;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (max-width: $tablet) {
    width: 18px;
    height: 18px;
  }
}

.filter__item input:not(:disabled):not(:checked) + label:hover::before {
  border-color: $light-gray-red;
}

// .filter__item input:not(:disabled):active + label::before {
//   background-color: $light-gray-red;
// }

// .filter__item input:focus:not(:checked) + label::before {
//   border-color: $light-gray-red;
// }

.filter__item input:checked + label::before {
  border-color: $light-gray-red;
  background-color: $light-gray-red;
}

.filter__item input:disabled + label::before {
  background-color: $light-gray-red;
}

.filter__item input:focus-visible + label {
  // outline: -webkit-focus-ring-color auto 1px;
  outline: 1px auto;
}
