.filter__container {
  @media (max-width: $desktop) {
    display: none;
  }
}

.filter--opened .filter__container {
  @media (max-width: $desktop) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: $brownish-gray;
    overflow: hidden;
  }
}

.filter__close {
  display: none;
}

.filter--opened .filter__close {
  @media (max-width: $desktop) {
    position: fixed;
    display: block;
    align-self: end;
    margin-top: -17px;
    margin-right: -17px;
    margin-left: auto;
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: $background-black;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      right: 10px;
      width: 14px;
      height: 14px;
      background-image: url("../img/icon-close.svg");
      background-color: $background-black;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $tablet) {
    &::before {
      right: 10px;
    }
  }
}

.filter--opened .filter__form {
  @media (max-width: $desktop) {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 422px;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    margin-left: auto;
    margin-bottom: 90px;
    margin-right: auto;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $basic-background;
    box-shadow: 0 5px 32px $light-gray;
  }

  @media (max-width: $tablet) {
    min-width: 270px;
    margin-bottom: 47px;
  }
}

.filter__block {
  margin-bottom: 35px;

  @media (max-width: $tablet) {
    padding-left: 9px;
    padding-right: 5px;
  }
}

.filter__wrapper {
  border: 1px solid $light-gray-red;

  @media (max-width: $desktop) {
    border: none;
    border-bottom: 1px solid $light-gray-red;
  }
}

.filter__wrapper:nth-child(2n) > summary,
.filter__wrapper:nth-child(3n) > summary {
  @media (max-width: $desktop) {
    padding-bottom: 30px;
  }

  @media (max-width: $tablet) {
    padding-top: 24px;
    padding-bottom: 23px;
  }
}

.filter__wrapper summary {
  position: relative;
  display: flex;
  padding: 23px 25px 23px 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    top: 24px;
    right: 23px;
    background-image: url("../img/icon-arrow-down.svg");
    background-size: 19px 17px;
    background-repeat: no-repeat;

    transition: transform 0.3s;
  }

  @media (max-width: $desktop) {
    padding-top: 38px;
    padding-bottom: 26px;
    font-size: 18px;

    &::before {
      width: 28px;
      height: 14px;
      top: 43px;
      right: 24px;
      background-size: 28px 14px;
    }
  }

  @media (max-width: $tablet) {
    padding: 31px 24px 26px 23px;

    &::before {
      top: 35px;
      right: 35px;
      width: 21px;
      height: 13px;
      background-size: 21px 13px;
    }
  }
}

summary::-webkit-details-marker {
  display: none;
}

.filter__wrapper[open] > summary {
  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    top: 24px;
    right: 23px;
    background-size: 19px 17px;
    transform: rotate(180deg);
    cursor: pointer;
  }

  @media (max-width: $desktop) {
    &::before {
      width: 28px;
      height: 14px;
      top: 43px;
      right: 24px;
      background-size: 28px 14px;
    }
  }

  @media (max-width: $tablet) {
    &::before {
      top: 35px;
      right: 35px;
      width: 21px;
      height: 13px;
      background-size: 21px 13px;
    }
  }
}

.filter__list {
  @include list-style ;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 13px;
  padding-left: 36px;
  padding-bottom: 22px;

  @media (max-width: $desktop) {
    padding-left: 35px;
    row-gap: 17px;
  }

  @media (max-width: $tablet) {
    padding-top: 0;
    padding-left: 33px;
    padding-bottom: 24px;
  }
}

.filter__list:nth-child(2n) {
  padding-bottom: 22px;

  @media (max-width: $desktop) {
    padding-bottom: 37px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 24px;
  }
}

.filter__list:nth-child(3n) {
  padding-bottom: 20px;

  @media (max-width: $desktop) {
    padding-bottom: 32px;
    padding-top: 35px;
  }

  @media (max-width: $tablet) {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.filter__list:nth-child(4n) {
  padding-bottom: 11px;

  @media (max-width: $desktop) {
    padding-bottom: 26px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 19px;
  }
}

.filter__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  @media (max-width: $desktop) {
    font-size: 16px;
  }
}

.filter__item input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter__item input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.filter__item input + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $light-gray-red;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (max-width: $tablet) {
    width: 18px;
    height: 18px;
  }
}

.filter__item input:not(:disabled):not(:checked) + label:hover::before {
  border-color: $light-gray-red;
}

.filter__item input:checked + label::before {
  border-color: $light-gray-red;
  background-color: $light-gray-red;
}

.filter__item input:disabled + label::before {
  background-color: $light-gray-red;
}

.filter__item input:focus-visible + label {
  outline: 1px auto;
}

.filter__range {
  width: 200px;
  padding-bottom: 11px;

  @media (max-width: $desktop) {
    width: 100%;
    padding-bottom: 29px;
  }

  @media (max-width: $tablet) {
    width: 90%;
    padding-bottom: 21px;
  }
}

.filter__range-controls {
  position: relative;
  margin-bottom: 7px;
  padding-top: 0;
  padding-left: 22px;

  @media (max-width: $desktop) {
    padding-left: 34px;
    padding-right: 84px;
  }

  @media (max-width: $tablet) {
    padding-top: 10px;
    margin-bottom: 9px;
  }
}

.filter__range-controls .filter__scale {
  height: 2px;
  background-color: $pearl-white;
}

.filter__range-controls .filter__bar {
  width: 101px;
  margin-left: 55px;
  height: 2px;
  background-color: $light-gray-red;

  @media (max-width: $desktop) {
    width: 181px;
  }

  @media (max-width: $tablet) {
    width: 122px;
    margin-left: 38px;
  }
}

.filter__bar {
  width: 30%;
  margin-left: 35px;
  background-color: $pearl-white;
}

.filter__toggle {
  position: absolute;
  top: -6;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: $light-gray-red;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;

  @media (max-width: $desktop) {
    top: 30px;
  }

  @media (max-width: $tablet) {
    top: 27px;
  }
}

.filter__toggle-min {
  top: -7px;
  left: 68px;

  @media (max-width: $desktop) {
    left: 75px;
    width: 17px;
    height: 17px;
  }

  @media (max-width: $tablet) {
    top: 4px;
    left: 54px;
  }
}

.filter__toggle-max {
  top: -7px;
  left: 173px;

  @media (max-width: $desktop) {
    left: 254px;
  }

  @media (max-width: $tablet) {
    top: 4px;
    left: 191px;
  }
}

.filter__price-controls {
  display: flex;
  justify-content: space-between;
  width: 157px;
  margin: 0 auto;
  margin-left: 50px;
  font-weight: 500;

  @media (max-width: $desktop) {
    width: 226px;
    margin-left: 59px;
  }

  @media (max-width: $tablet) {
    width: 187px;
    margin-left: 38px;
  }
}

.filter__price-controls input {
  width: 50px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  border: none;

  @media (max-width: $desktop) {
    font-size: 16px;
  }
}

.filter__btn {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 25px;
  min-height: 68px;
  margin-bottom: 50px;

  @media (max-width: $desktop) {
    padding-left: 44px;
    padding-right: 44px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.filter__btn--open {
  display: none;

  @media (max-width: $desktop) {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    padding: 5px;
    background-color: $light-gray-red;
    border: none;
  }

  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }
}

.filter__btn--apply {
  margin-bottom: 0;
  background: $light-gray-red;
  border: 1px solid $light-gray-red;
}

.filter__btn--secondary {
  margin-bottom: 0;
  background-color: transparent;
  border: 1px solid $basic-color;
  color: $basic-color;
}

.filter--opened .filter__btn {
  @media (max-width: $desktop) {
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 40px;
  }

  @media (max-width: $tablet) {
    padding-right: 28px;
    padding-left: 29px;
  }
}

.filter--opened .filter__btn--apply {
  @media (max-width: $desktop) {
    margin-bottom: 0;
  }
}

.filter--opened .filter__block {
  @media (max-width: $desktop) {
    margin-bottom: 41px;
    border: none;
    border-bottom: 1px solid $light-gray-red;
  }

  @media (max-width: $tablet) {
    margin-bottom: 28px;
    border: none;
  }
}
