.gallery {
  margin-bottom: 130px;

  @media (max-width: $desktop) {
    margin-bottom: 79px;
    padding: 0;
  }

  @media (max-width: $tablet) {
    margin-bottom: 71px;
  }
}

.gallery h2,
.gallery a {
  display: flex;
  justify-content: center;
  line-height: 130%;
}

.gallery h2 {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-family: $font-cormorant;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 0.03em;

  @media (max-width: $desktop) {
    margin-bottom: 19px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.gallery a {
  width: fit-content;
  margin: 0 auto 61px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid $light-gray-red;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }

  @media (max-width: $desktop) {
    margin-bottom: 62px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 46px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: 230px 399px 230px 230px;
  grid-template-rows: 230px 150px;
  justify-content: center;
  column-gap: 27px;
  row-gap: 34px;

  @media (max-width: $desktop-max) {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 16px;
    row-gap: 20px;
  }

  @media (max-width: $desktop) {
    grid-template-columns: 133px 231px 133px 133px;
    grid-template-rows: 133px 87px;
    column-gap: 16px;
    row-gap: 20px;
  }

  @media (max-width: $tablet) {
    grid-template-columns: 133px 133px;
    grid-template-rows: 133px 87px 87px;
    column-gap: 23px;
    row-gap: 27px;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.gallery__item--2 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

.gallery__item--6,
.gallery__item--7 {
  @media (max-width: $tablet) {
    display: none;
  }
}
