.header--opened .header {
  @media (max-width: $desktop) {
    display: block;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: $light-gray-red;
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  margin-bottom: 26px;
  padding-top: 30px;
  padding-bottom: 10px;

  @media (max-width: $desktop-max) {
    padding-bottom: 26px;
  }

  @media (max-width: $desktop) {
    margin-bottom: 13px;
    padding-top: 30px;
    padding-bottom: 17px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 0;
    padding-top: 21px;
    padding-bottom: 19px;
  }
}

.header--opened .header {
  @media (max-width: $desktop) {
    max-width: 100%;
    margin-bottom: 25px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 10px;
  }
}

.header__link-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: -25px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $desktop) {
    width: auto;
    margin-top: 0;
  }
}

.user-link__item {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  &:focus-visible {
    outline: 1px auto;
  }
}

.cart-link {
  margin-left: 20px;

  @media (max-width: $tablet) {
    margin-left: 0;
  }
}

.cart-link--menu svg {
  display: none;
  color: $basic-background;
  stroke: $basic-color;

  @media (max-width: $desktop) {
    display: block;
  }

  @media (max-width: $tablet) {
    margin-left: 0;
  }
}

.header--opened .cart-link--menu svg {
  @media (max-width: $desktop) {
    color: transparent;
    stroke: $basic-background;
  }
}

.login-link,
.cart-link div {
  @media (max-width: $desktop) {
    display: none;
  }
}

.login-link {
  margin-right: 14px;

  @media (max-width: $desktop) {
    margin-right: 0;
  }
}

.header__wrapper--page {
  justify-content: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  @media (max-width: $tablet) {
    height: 52px;
  }
}

.header--opened .logo svg {
  @media (max-width: $desktop) {
    color: $basic-background;
  }
}

.header__search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  margin-bottom: 19px;

  @media (max-width: $desktop) {
    display: none;
  }
}

.header__search label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.header__search label input {
  min-width: 120px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: none;
  color: $gray-crayola;
}

.header--menu button,
.header__search label input[type="search"],
.header__navbar .search-form input[type="search"] {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  &:focus-visible {
    outline: 1px auto;
  }
}

.header__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: baseline;
  min-width: 651px;

  @media (max-width: $desktop) {
    display: none;
  }
}

.header--opened .header__navbar {
  @media (max-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    min-width: 290px;
    margin: 0;
    padding-bottom: 55px;
  }
}

.header__navbar .search-form {
  display: none;
}

.header--opened .header__navbar .search-form {
  @media (max-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 42px;
    padding-left: 0;
    margin-bottom: 41px;
    border: none;
    background-color: $white-antique;
    border-radius: 21px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 32px;
  }
}

.header__navbar .search-form svg {
  @media (max-width: $desktop) {
    z-index: 2;
    width: 16px;
    height: 16px;
    margin: 12px;
    color: $basic-background;
  }
}

.header__navbar .search-form a {
  fill: $light-gray-red;

  @media (max-width: $desktop) {
    fill: $basic-background;
  }
}

.header__navbar .search-form input {
  @media (max-width: $desktop) {
    width: 87%;
    background-color: transparent;
    border-radius: 21px;
    color: $basic-background;

    &:hover {
      opacity: 0.5;
      color: $basic-background;
    }

    &:active {
      opacity: 1;
      color: $basic-background;
    }

    &:focus-visible {
      outline: 1px auto;
    }
  }
}
