.navbar__list {
  @include list-style;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 510px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;

  @media (max-width: $desktop) {
    flex-direction: column;
    align-items: baseline;
    margin: 0 0 19px;
    padding: 0;
  }
}

.header--opened .navbar__list {
  width: auto;

  @media (max-width: $tablet) {
    margin-bottom: 11px;
  }
}

.nav-list__item {
  margin-right: 20px;

  @media (max-width: $desktop) {
    margin-right: 0;
  }
}

.nav-list__item:nth-child(2n) {
  margin-right: 30px;

  @media (max-width: $desktop) {
    margin-right: 0;
  }
}

.nav-list__item:nth-child(5n) {
  margin-right: 0;
}
