.navbar__list {
  @include list-style;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 508px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;

  @media (max-width: $desktop) {
    flex-direction: column;
    align-items: baseline;
    margin: 0 0 19px;
    padding: 0;
  }
}

.header--opened .navbar__list {
  width: auto;

  @media (max-width: $tablet) {
    margin-bottom: 11px;
  }
}
