.new {
  position: relative;
  margin-bottom: 117px;

  @media (max-width: $desktop) {
    margin-bottom: 64px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 54px;
  }
}

.new h2,
.new__shop {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  line-height: 130%;
}

.new h2 {
  margin-bottom: 24px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: $font-cormorant;
  font-weight: bold;
  font-size: 34px;

  @media (max-width: $desktop) {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.new__shop {
  width: fit-content;
  margin: 0 auto 59px;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid $light-gray-red;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $desktop) {
    margin-bottom: 50px;
    padding-bottom: 4px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }
}
