.pagination {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.pagination a {
  cursor: pointer;

  &:active {
    opacity: 1;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 1px auto;
  }
}

.pagination__list {
  @include list-style;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.pagination__list--tab,
.pagination__list--mob {
  display: none;
}

.pagination__list--mob {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
}

.pagination__list--desk {
  @media (max-width: $desktop) {
    margin-right: 0;
  }
}

.pagination__list--tab {
  @media (max-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    margin-right: auto;
    margin-left: 0;
  }
}

.pagination__list--desk,
.pagination__list--tab {
  @media (max-width: $tablet) {
    display: none;
  }
}

.pagination__item a {
  padding: 7px;

  &:hover {
    color: $gray-crayola;
  }

  &:active {
    opacity: 1;
  }

  &:focus-visible {
    outline: 1px auto;
  }

}
