.pagination-catalog {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.pagination-catalog__link--tab {
  @media (max-width: $tablet) {
    display: none;
  }
}

.pagination-catalog .pagination__list {
  padding-right: 35px;

  @media (max-width: $desktop) {
    margin: 0 auto;
    padding-right: 0;
  }
}

.pagination-catalog .pagination__item a {
  padding: 6px;
}

.pagination__list--desk {
  @media (max-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 9px;
    margin-right: auto;
  }
}
