.page-main {
  flex: 1 0 auto;
}

.page-main--login {
  flex: 0 0 auto;
}

.promo {
  position: relative;
  min-height: 463px;
  margin: 0 auto 119px;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $brownish-gray;

  @media (max-width: $desktop) {
    margin-bottom: 69px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 59px;
  }
}

.promo img {
  position: absolute;
  max-height: 463px;
  min-height: 463px;
  width: 100%;
  object-fit: cover;
  z-index: -2;

  @media (max-width: $desktop) {
    height: auto;
  }
}

.promo h2,
.promo p {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: $font-cormorant;
  text-align: center;
  color: $basic-background;

  @media (max-width: $desktop) {
    padding-left: 21px;
  }
}

.promo h2 {
  padding-top: 184px;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 0.03em;

  @media (max-width: $tablet) {
    margin-bottom: -2px;
    padding-top: 191px;
    padding-left: 38px;
    padding-right: 37px;
    font-size: 38px;
  }
}

.promo p {
  font-style: italic;
  font-weight: normal;
  font-size: 38px;

  @media (max-width: $tablet) {
    padding-right: 22px;
    font-size: 34px;
  }
}

.promo--catalog {
  position: relative;
  min-height: 261px;
  margin: 0 auto 80px;
  padding: 0;

  @media (max-width: $desktop) {
    margin-bottom: 50px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }
}

.promo--catalog img {
  position: absolute;
  max-height: 261px;
  min-height: 261px;
  width: 100%;
  object-fit: cover;
  z-index: -2;

  @media (max-width: $desktop) {
    height: auto;
  }
}

.promo--catalog h2,
.promo--catalog p {
  padding-left: 24px;
  padding-right: 14px;
  text-align: center;
}

.promo--catalog h2 {
  margin-bottom: 4px;
  padding-top: 91px;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;

  @media (max-width: $desktop) {
    padding-top: 90px;
  }

  @media (max-width: $tablet) {
    padding-top: 79px;
  }
}

.promo--catalog p {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
