.promo--catalog {
  position: relative;
  min-height: 261px;
  margin: 0 auto 80px;
  padding: 0;
  background-image: url("../img/promo-catalog@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url(".../img/promo-catalog@2x.jpg");
  }

  @media (max-width: $desktop) {
    margin-bottom: 50px;
    background-image: url("../img/promo-catalog-tab@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url(".../img/promo-catalog-tab@2x.jpg");
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 40px;
    background-image: url("../img/promo-catalog-mob@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url(".../img/promo-catalog-mob@2x.jpg");
    }
  }
}

.promo--catalog h2,
.promo--catalog p {
  padding-left: 24px;
  padding-right: 14px;
  text-align: center;
}

.promo--catalog h2 {
  margin-bottom: 4px;
  padding-top: 91px;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;

  @media (max-width: $desktop) {
    padding-top: 90px;
  }

  @media (max-width: $tablet) {
    padding-top: 79px;
  }
}

.promo--catalog p {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
