.promo--catalog {
  position: relative;
  min-height: 261px;
  min-width: 1023px;
  margin: 0 auto 80px;
  padding: 0;
  background-image: url("../img/promo-catalog@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url(".../img/promo-catalog@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $brownish-gray;
    z-index: -1;
  }

  @media (max-width: $desktop) {
    min-width: 768px;
    margin-bottom: 40px;
    background-image: url("../img/promo-catalog-tab@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url(".../img/promo-catalog-tab@2x.jpg");
    }
  }

  @media (max-width: $tablet) {
    min-width: 320px;
    // margin-bottom: 40px;
    background-image: url("../img/promo-catalog-mob@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url(".../img/promo-catalog-mob@2x.jpg");
    }
  }
}

.promo--catalog h2,
.promo--catalog p {
  padding-left: 24px;
  padding-right: 14px;
}

.promo--catalog h2 {
  margin-bottom: 4px;
  padding-top: 82px;
  font-weight: bold;
  font-size: 34px;
}

.promo--catalog p {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;

  // @media (max-width: $desktop) {
  //   font-weight: 500;
  //     font-size: 22px;
  // }

  // @media (max-width: $mobile) {
  //   font-size: 34px;
  // }
}
