.page-main {
  flex: 1 0 auto;
}

.promo {
  position: relative;
  min-height: 463px;
  margin: 0 auto 119px;
  padding: 0;
  background-image: url("../img/promo-main@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url(".../img/promo-main@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $brownish-gray;
    z-index: -1;
  }

  @media (max-width: $desktop) {
    margin-bottom: 69px;
    background-image: url("../img/promo-main-tab@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-main-tab@2x.jpg");
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 59px;
    background-image: url("../img/promo-main-mob@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-main-mob@2x.jpg");
    }
  }
}

.promo h2,
.promo p {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: $font-cormorant;
  text-align: center;
  color: $basic-background;

  @media (max-width: $desktop) {
    padding-left: 21px;
  }
}

.promo h2 {
  padding-top: 184px;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 0.03em;

  @media (max-width: $tablet) {
    margin-bottom: -2px;
    padding-top: 191px;
    padding-left: 38px;
    padding-right: 37px;
    font-size: 38px;
  }
}

.promo p {
  font-style: italic;
  font-weight: normal;
  font-size: 38px;

  @media (max-width: $tablet) {
    padding-right: 22px;
    font-size: 34px;
  }
}
