.range-filter {
  width: 200px;
  padding-bottom: 11px;

  @media (max-width: $desktop) {
    width: 100%;
    padding-bottom: 29px;
  }

  @media (max-width: $tablet) {
    width: 90%;
    padding-bottom: 21px;
  }
}

.range-controls {
  position: relative;
  margin-bottom: 7px;
  padding-top: 0;
  padding-left: 22px;

  @media (max-width: $desktop) {
    padding-left: 34px;
    padding-right: 84px;
  }

  @media (max-width: $tablet) {
    padding-top: 10px;
    margin-bottom: 9px;
  }
}

.range-controls .scale {
  height: 2px;
  background-color: $pearl-white;
}

.range-controls .bar {
  width: 101px;
  margin-left: 55px;
  height: 2px;
  background-color: $light-gray-red;

  @media (max-width: $desktop) {
    width: 181px;
  }

  @media (max-width: $tablet) {
    width: 122px;
    margin-left: 38px;
  }
}

.bar {
  width: 30%;
  margin-left: 35px;
  background-color: $pearl-white;
}

.range-controls .toggle {
  position: absolute;
  top: -6;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: $light-gray-red;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;

  @media (max-width: $desktop) {
    top: 30px;
  }

  @media (max-width: $tablet) {
    top: 27px;
  }
}

.range-controls .toggle-min {
  top: -7px;
  left: 68px;

  @media (max-width: $desktop) {
    left: 75px;
    width: 17px;
    height: 17px;
  }

  @media (max-width: $tablet) {
    top: 4px;
    left: 54px;
  }
}

.range-controls .toggle-max {
  top: -7px;
  left: 173px;

  @media (max-width: $desktop) {
    left: 254px;
  }

  @media (max-width: $tablet) {
    top: 4px;
    left: 191px;
  }
}

.price-controls {
  display: flex;
  justify-content: space-between;
  width: 157px;
  margin: 0 auto;
  margin-left: 50px;
  font-weight: 500;

  @media (max-width: $desktop) {
    width: 226px;
    margin-left: 59px;
  }

  @media (max-width: $tablet) {
    width: 187px;
    margin-left: 38px;
  }
}

.price-controls input {
  width: 50px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  border: none;

  @media (max-width: $desktop) {
    font-size: 16px;
  }
}

.hyphen {
  margin: auto;
}
