.slider {
  display: grid;
  grid-auto-flow: column;
  column-gap: 30px;
  min-height: 400px;

  @media (max-width: $desktop) {
    margin-bottom: 42px;
  }

  @media (max-width: $tablet) {
    min-height: 240px;
    margin-bottom: 10px;
  }
}

.slider__list {
  @include list-style;
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 30px;
  overflow: auto;
  scrollbar-width: none;

  @media (max-width: $desktop-max) {
    column-gap: 20px;
  }
}

.slider__list::-webkit-scrollbar {
  width: 0;
}

.slider__button {
  position: relative;
  top: 3px;
  display: block;
  height: 100px;
  width: 32px;
  padding: 0;
  border: 0;
  font-size: 0;
  background-image: url("../img/icon-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $desktop) {
    top: 0;
    width: 36px;
  }

  @media (max-width: $tablet) {
    display: none;
  }
}

.slider__button--bwrd {
  position: absolute;
  left: 96px;

  @media (max-width: $desktop) {
    left: 47px;
  }
}

.slider__button--frwd {
  position: absolute;
  right: 97px;
  transform: rotate(180deg);

  @media (max-width: $desktop) {
    right: 47px;
  }
}

.slider__item {
  flex: 0 0 23.08%;

  @media (max-width: $desktop) {
    flex: 0 0 50%;
  }

  @media (max-width: $tablet) {
    flex: 0 0 45%;
  }
}

.slider__item--hidden {
  display: none;
}

.slider__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.slider__link img {
  width: 100%;
  margin-bottom: 17px;
  object-fit: cover;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $tablet) {
    margin-bottom: 12px;
  }
}

.slider__link h3,
.slider__link p {
  margin: 0;
  line-height: 130%;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}

.slider__link h3,
.pagination__item {
  font-weight: 500;
  font-size: 16px;
}

.slider__link h3 {
  margin-bottom: 5px;

  @media (max-width: $tablet) {
    max-width: 150px;
    margin-bottom: 8px;
  }
}

.slider__link p {
  font-weight: bold;
  font-size: 14px;
}
