// SIZES

// $desktop: 1366px;
// $tablet-width: 768px;
// $mobile-width: 320px;

$mobile: 320px;
$tablet: 768px;
$desktop: 1023px;
$desktop-max: 1220px;
$extra: 2dppx;

// Font-family
$font-poppins: "Poppins", "Arial", "Helvetica", sans-serif;
$font-cormorant: "Cormorant Garamond", "Georgia", serif;

// COLORS
$basic-color: #1d1613;
$basic-background: #ffffff;

$background-black: #000000;
$smoky-white: #f6f5f4;
$brownish-gray: rgba(86, 64, 52, 0.7);
$light-gray-red: #a87b62;
$gray-crayola: #9b9997;
$pearl-white: #f0eae4;
$grayish-purplish-red: #844d4d;
$white-antique:  hsla(0, 0%, 100%, 0.15);
// $background: #564034b3;
