// SIZES
$tablet: 767px;
$tablet-max: 900px;
$desktop: 1023px;
$desktop-max: 1220px;
$extra: 2dppx;

// Font-family
$font-poppins: "Poppins", "Arial", "Helvetica", sans-serif;
$font-cormorant: "Cormorant Garamond", "Georgia", serif;

// COLORS
$basic-color: #1d1613;
$basic-background: #ffffff;

$background-black: rgb(0, 0, 0);
$smoky-white: #f6f5f4;
$brownish-gray: rgba(86, 64, 52, 0.7);
$light-gray-red: #a87b62;
$gray-crayola: #9b9997;
$pearl-white: #f0eae4;
$grayish-purplish-red: #844d4d;
$white-antique:  rgba(255, 255, 255, 0.15);
$forest-wolf: #e2ddd73d;
$light-gray: rgba(219, 213, 208, 0.24);
